
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
    height: auto;
    background-color: #00373F;
}

#content{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.aside{
    background-color: #36320A;
    height: 100%;
    width: 10px;
    border-right: 1px solid black;
}

.main{
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
}

.cima, .baixo{
    display: flex;
    width: 100%;
    height: 50%;
    
}

.cima{
    margin-top: 100px;
    justify-content: center;
}


.baixo{
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-around;
}

.graf1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
canvas{
    width: 100% !important;
    height: 100%;
}

.graf2, .graf3{
    padding: 10px;
    height: 90%;
    border-radius: 10px;
}

.graf2{
    width: 55%;
}

.graf3{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.graf3 h2{
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
    font-family: museoModerno, sans-serif;
}

.graf3 p{
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: museoModerno, sans-serif;
    font-weight: 200;
}

.graf3 span{
    font-weight: bold;
}

.impacto, .economia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sair a{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sair p{
    color: #00373F;
    font-size: 2em;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    font-family: museoModerno, sans-serif;
}

.perfil{
    margin-top: 100px;
}

